doctype html
html(lang='en')
  include ./head.pug
  body
    header
      h1 
        a(href='/') Job Finder
      #logContainer
        h4
          a(href='/profile') profile
        h4
          a(href='/favorites') favorites 
        h4
          a(href='/') Ofertas aplicadas
          //- Solo visibles par aadministrador
        h4
          a(href='/api/users') users(admin)
        h4
          a(href='api/dashboard') dashboard(admin)
          //----------------------------------
        h4
          a(href='/api/logout') Logout
    main
      div#h2SignUpContainer
        h2#h2SignUp Update Offer (ADMIN)
        div#signUpFormContainer
          form#offerUpdate(action="/api/ads/update" method="POST")
            label(for="") id: 
            input#id(type="number" name="id" value=offer[0].id)
            label(for="") Título de oferta:  
            input#title(type="text" name="title" value=offer[0].title)
            label(for="") Fecha:  
            input#date(type="text" name="date" value=offer[0].date)
            label(for="") Budget:  
            input#budget(type="number" name="budget" value=offer[0].budget)
            label(for="") Descripción:  
            input#description(type="text" name="description" value=offer[0].description) 
            button#updateBtn(type="submit" value="Search") Actualizar oferta
    script(type='text/javascript', src='../scripts/homeNavigation.js')
include ./footer.pug