doctype html
html(lang='en')
  include ./head.pug
 
  body
    header
      h1 
        a(href='/') Job Finder
      #logContainer
        h4
          a(href='/profile') Profile
        h4
          a(href='/favorites') Favorites 
        h4
          a(href='/') Offers
          //- Solo visibles par aadministrador
        h4
          a(href='/api/users') users(admin)
        h4
          a(href='/dashboard') Dashboard
        h4
          a(href='/api/logout') Logout
    main
      div#mainContainer
        h1#h1Slogan USERS
        div#searchFormContainer
          button#createNewUser.btnClass(type="click") Create new user
          section#formCreate
            form#createUserForm
              div#newUserForm
                label Name:
                input#inputName(type='text' placeholder='User name')
                label Surname:
                input#inputSurname(type='text' placeholder='User surname')
                label Email:
                input#inputEmail(type='text' placeholder='Email')
                label Password:
                input#inputPassword(type='password' placeholder='Password')
                label Role:
                input#inputRole(type='text' placeholder='Role')
                button#createUser.btnClass(type="submit") Create use
            ul#addUsers(action="/api/users" method="POST")

        h3#h3Slogan
          | Users registered
      div#Users
        each user in results
          article.userCard
            h4 #{user.name}
            p #{user.surname}
            p #{user.email}
            p=user.role
            div#buttonsCard
              button.deleteUser.btnClass(value="delete" user_email=user.email) Delete
              button.desplegarUser.btnClass(type="click" edit_index=user.user_id) Edit 
              section.sectFormEdit(id_user=user.user_id)
                form.editUserForm
                  div#editUserDiv
                    p #{index}
                    label Name:
                    input.editName(type='text' placeholder='User name' name_id=user.user_id)
                    label Surname:
                    input.editSurname(type='text' placeholder='User surname' surname_id=user.user_id)
                    label Email:
                    input.paramEmail(type='text' placeholder='Email' email_id=user.user_id)
                    button.editUser.btnClass(type="click" btn_index=user.user_id) Edit user
                ul#addUsers(action="/api/users" method="POST")

    script(type='text/javascript', src='../scripts/adminNavigation.js')
include ./footer.pug