doctype html
html(lang='en')
  include ./head.pug
 
  body
    header
      div.headerDash
        h1 
          a(href='/') Job Finder
        #logContainer
        div.logContainer
          h4
            a(href='/profile') Perfil
          h4
            a(href='/favorites') Favoritos 
          h4
            a(href='/') Ofertas
          h4
            a(href='/api/users') Usuarios
          h4
            a(href='/dashboard') Tablón
          form(action="/api/logout" method="post")
            button.clickBtnlogOut.logoutBtn(type="submit") Salir
    main
      div#mainContainer
        h1#h1Slogan USUARIOS
        div#searchFormContainer
          button#createNewUser.btnClass.backBtn(type="click") Crear nuevo usuario
          section#formCreate
            form#createUserForm
              div#newUserForm
                label Nombre:
                input#inputName(type='text' placeholder='User name')
                label Apellido:
                input#inputSurname(type='text' placeholder='User surname')
                label Email:
                input#inputEmail(type='text' placeholder='Email')
                label Contraseña:
                input#inputPassword(type='password' placeholder='Password')
                label Role:
                input#inputRole(type='text' placeholder='Role')
                button#createUser.btnClass.logoutBtn(type="submit") Crear usuario
            ul#addUsers(action="/api/users" method="POST")

        h3#h3Slogan
          | Todos los usuarios registrados
      div#Users
        each user in results
          article.userCard.bot-left.offerCard.offerCardContainer#usersCards
            h4 #{user.name}
            p.pOffer #{user.surname}
            p.pOffer #{user.email}
            p.pOffer=user.role
            div#buttonsCard
              button.deleteUser.clickBtnDelete.btnClass(value="delete" user_email=user.email) Delete
              button#editBtn.desplegarUser.clickBtnDelete.btnClass(type="click" edit_index=user.user_id) Edit 
              section.sectFormEdit(id_user=user.user_id)
                form.editUserForm
                  div#editUserDiv
                    p #{index}
                    label Nombre:
                    input.editName(type='text' placeholder='User name' name_id=user.user_id)
                    label Apellido:
                    input.editSurname(type='text' placeholder='User surname' surname_id=user.user_id)
                    label Email:
                    input.paramEmail(type='text' placeholder='Email' email_id=user.user_id)
                    button.editUser.clickBtn.btnClass(type="click" btn_index=user.user_id) Edit user
                ul#addUsers(action="/api/users" method="POST")

    script(type='text/javascript', src='../scripts/adminNavigation.js')
include ./footer.pug